@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  /* font-size: 16px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  transition: font-size 0.25s linear;
  line-height: 1;
}

body {
  margin: 0;
}

h1 {
  font-size: 12rem;
}

button {
  background-color: $oxford-blue;
  color: $platinum;
  cursor: pointer;
  border: 0;
  border-radius: 1.6rem;
  padding: 2.4rem;
  font-size: 4rem;
  transition: all 0.25s linear;

  &:hover {
    background-color: $oxford-blue-2-light;
    color: $white;
  }
}
